
.hero-container{
    background-color: #fca311;
    height: 80vh;
    padding: 2rem;
}


.hero{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 1.5rem;

}

.stay-curious{
    font-size: 5rem;

}

.discover{
    font-size: 2rem;
    line-height: 2rem;
}



.start-reading{
    background-color: var(--black);
    width: 200px;
    color: var(--white);
    text-align: center;
    padding: 10px;
    border-radius: 25px;
    font-size: 1.25rem;
    transition: all 500ms ease;
}

.start-reading:hover{
    background-color: var(--white);
    color: var(--black);
}


